/.vs/Elderwild/v17/.suo
/.vsconfig
/Elderwild.sln
/Elderwild.uproject

/Binaries/*
/.idea/*
/Intermediate/*
/Config/*
/Content/*
/Saved/*
/Elderwild.sln.DotSettings.user
/.vs/Elderwild/v17/Solution.VC.db
